@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;500;700&display=swap');

:root {
    --white: white;
    --black: black;
    --grey: #eaeaea
}


body {
    margin: 0;
}

h1, h2, h3, h4 p {
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin: 5px 0 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

button, input[type=submit], p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/*TEST*/
/*div, li, header {*/
/*    border: 1px solid black;*/
/*}*/



.first-section {
    background-image: url("assets/img/fotka.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 20px);
    min-height: 400px;
    position: relative;
    padding-top: 20px;
}

#navbar {
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    z-index: 999;
    width: 95%;
    transition: 0.3s ease-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100% !important;
    background-color: rgba(0,0,0,0.75) !important;
    backdrop-filter: blur(10px);
}

/*LOGO*/
.logo {
    margin: 0 0 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 110px;
}

/*navigation*/

#nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;

}


#nav-links a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
}

#nav-links a:link, #nav-links a:visited, #nav-links a:active   {
    color: var(--white);
}

#nav-links a:hover {
    color: gainsboro;
}

#mobile-menu-trigger {
    margin: 10px;
}

#mobile-menu-trigger button {
    background-color: rgba(0,0,0,0);
    border: 0;
    cursor: pointer;
    display: none;
}

.main-header {
    color: var(--white);
    position: absolute;
    left: 2.5vw;
    bottom: 30px;
    width: 400px;
}

.main-header > p {
    font-weight: bold;
    font-family: 'Playfair Display ', serif;
}

.contact-button {
    background-color: rgba(0,0,0,0);
    color: var(--white);
    border: 2px solid var(--white);
    width: 9em;
    height: 3em;
    cursor: pointer;
    text-transform: uppercase;
    margin: 20px 0;
    transition: 0.2s;
}

.contact-button:hover {
    background: rgba(255,255,255,0.5);
    color: #111;
}

.contact-icons {
    position: absolute;
    right: 20px;
    bottom: 30px;
    color: var(--white);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-icons svg {
    height: 28px;
    width: 28px;
    cursor: pointer;
    transition: 0.2s;
}

.contact-icons svg:hover {
    color: var(--black);
}

.other-projects {
    padding: 20px;
}

.other-projects header {
    text-align: center;
    padding: 20px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 400px;
}

.gallery p {
    font-weight: bold;
    font-family: 'Playfair Display ', serif;
}

.gallery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vw;
    max-width: 450px;
    max-height: 300px;
    margin: 10px;
    overflow: hidden;
}

.gallery-image img {
    max-height: 100%;
    object-fit: contain;
}

.gallery-title {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.parallax {
    background-image: url("assets/img/kuchniegudykawroclaw.png");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /**/
}
.parallax-container {
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.how-we-work {
    padding: 60px;
    text-align: center;
}

.folders {
    display: flex;
    margin: 80px 0;
}

.folder {
    background-color: var(--grey);
    padding: 20px;
    margin: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100 - 30vw);
    min-height: 300px;
}

.folder header {
    margin-top: 40px;
}

.folder > p {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    margin: 20px 0;
}

.folder-number {
    background-color: var(--white);
    border: 5px solid var(--grey);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    top: -50px
}

#folders-button {
    background-color: var(--black);
    color: var(--white);
    padding: 10px 60px;
    cursor: pointer;
}


.about-us {
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.about-us > div {
    width: 100%;
}

.about-us-text {
    width: 50%;
    padding: 40px;
}

#about-us-image-container {
    background-color: var(--white);
    padding: 10px;
}

#about-us-image-container img {
    width: 100%;
}

#about-us-button {
    background-color: var(--black);
    color: var(--white);
    padding: 10px 25px;
    /*width: 100px;*/
    /*height: 40px;*/
    cursor: pointer;
    margin-top: 30px;
}


.customer-reviews {
    background-image: url("assets/img/3.png");
    height: 100%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.customer-reviews-content-bg {
    width: 55%;
    background-color: white;
    height: 800px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-reviews-content {
    text-align: center;
    max-width: 100%;
}

.customer-reviews-content > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.social-reviews-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.social-review {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.users-reviews-button {
    margin: 20px;
    background-color: rgba(0,0,0,0);
    width: 17em;
    height: 3em;
    cursor: pointer;
    border: 1px solid black;
    transition: 0.2s;
}

.users-reviews-button:hover {
    background: rgba(255,255,255,0.5);
}

.logo-review {
    position: absolute;
    top: 30px;
    right: 20px;
}

.our-knowledge {
    background-color: var(--grey);
    display: flex;
    padding: 40px 0 40px 40px;
}

.our-knowledge > header {
    width: 40vw;

}

.our-knowledge > header > hr {
    float: left;
}

.our-knowledge > header > p {
    line-height: 1.5;
    clear: both;
}

.our-knowledge-content {
    width: 60vw;
}

#our-knowledge-button {
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    padding: .5em 1.5em;
    /*width: 120px;*/
    /*height: 30px;*/
    margin-top: 20px;
    font-size: 1rem;
}

.slider-nav {
    display: flex;
}

.slider-nav > button {
    background-color: rgba(0,0,0,0);
    border: 0;
    cursor: pointer;
}

.disabled {
    color: var(--grey);
}

.slider-nav > p {
    margin: 0;
}

.slider-container {
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 1450px;

}

.slider-item {
    background-color: white;
    width: 230px;
    height: 35em;
    text-align: center;
    padding: 30px 20px;
    border-left: 15px solid var(--grey);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.slide-img {
    width: 240px;
    height: 180px;
    overflow: hidden;
}

.slide-img img {
    max-height: 100%;
    object-fit: contain;
}

.slider-item-text {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

.slider-item-text > div > h4 {
    font-size: 1.5rem;
}

.item-date {
    font-size: 0.6rem;
}

.slider-item-text > div > p {
    font-size: 0.8rem;
    font-weight: bold;
}

.our-knowledge-slide-button {
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
}

.best-furniture-parallax {
    background-image: url("assets/img/kuchnia2.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.best-furniture-parallax header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.best-furniture-parallax-transparent-text {
    font-family: sans-serif;
    font-size: 7vw;
    font-weight: bold;
    background: none;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .3vw;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
}

#best-furniture-parallax-button {
    background-color: rgba(0,0,0,0);
    text-transform: uppercase;
    border: 4px solid var(--white);
    color: var(--white);
    padding: .7em 6em;
    /*height: 40px;*/
    /*width: 300px;*/
    cursor: pointer;
    margin: 20px;
    font-weight: bold;
    transition: 0.2s;
}

#best-furniture-parallax-button:hover {
    background: rgba(255,255,255,0.5);
    color: #111;
}

footer {
    background-color: var(--grey);
    padding: 100px 50px 50px;
    display: flex;
    justify-content: space-between;
}

footer > header {
    min-width: 220px;
    padding-right: 20px;
}

footer > header > hr {
    float: left;
}

footer > header > p {
    clear:both;
    font-family: Playfair Display, serif;
    font-weight: 400;
    font-size: 2rem;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    font-size: 1.5rem;
}

.footer-contact a {
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.footer-contact a:link, .footer-contact a:visited, .footer-contact a:active   {
    color: var(--black);
}

.footer-contact a:hover {
    color: grey;
}

form {
    display: block;
}

.label-div {
    position: relative;
}

label > input {
    border-bottom: 4px solid black;
}


input, textarea {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    outline: none;
    height: 100%;
    background-color: rgba(0,0,0,0);
}

textarea {
    border: 4px solid black;
    border-radius: 10px;
}

input::placeholder, textarea::placeholder {
    opacity: 0;
}

.contact-form span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(30px);
    font-size: 1.2rem;
    transition-duration: 300ms;
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--grey);
    margin-left: 10px;
}

label:focus-within > span,
input:not(:placeholder-shown) + span,
textarea:not(:placeholder-shown) + span{
    transform: translateY(5px);
}

label:focus-within > span {
    color: gray;
}

label:focus-within > input {
    border-bottom: 4px solid gray;
}

textarea:focus-within {
    border: 4px solid gray;
}

#message {
    width: 40vw;
    height: 40vh;
}


#submit-button {
    color: var(--white);
    background-color: var(--black);
    font-weight: bold;
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
}


@media screen and (max-width: 900px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
    }


    section {
        max-width: 900px;
    }

    #navbar {
        display: block;
        padding: 10px;
        width: 90%;
        font-size: 1rem;
    }

    #nav-links {
        display: none;
        /*display: flex;*/
        justify-content: center;
    }

    #nav-links ul {
        display: flex;
        flex-direction: column;
    }
    #nav-links a {
        text-align: center;
    }

    #mobile-menu-trigger button {
        display: block;
    }


    .main-header {
        width: 250px;
        bottom: 0;
    }

    .contact-icons {
        height: 150px;
    }

    .contact-icons svg {
        height: 30px;
        width: 30px;
    }

    /*.main-header > h2 {*/
    /*    font-size: 2rem;*/
    /*}*/

    .main-header > p {
        font-weight: 500;
        font-size: .850rem;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }

    .gallery > div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .gallery-image {
        height: 50vw;
    }


    .folders {
        display: flex;
        flex-direction: column;
    }

    .folder {
       margin: 40px 0;
    }

    #folders-button {
        padding: 10px 0;
        width: 100%;
    }


    .about-us {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .about-us-text {
        width: auto;

    }

    #about-us-image-container {
        width: auto;
    }

    .customer-reviews {
        height: 900px;
    }

    .customer-reviews-content-bg {
        height: 725px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 60px);
        background-color: rgba(255, 255, 255,0.6)
    }

    .customer-reviews-content > h1 {
        font-size: 2.5rem;
        /*color: var(--grey);*/
    }

    .customer-reviews-content > p {
        /*color: var(--grey);*/
    }

    .social-reviews-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .social-review > svg {
        width: 50px;
        height: 50px;
    }


    .our-knowledge {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .our-knowledge > header {
        width: 100%
    }


    .our-knowledge-content {
        margin-top: 40px;
        width: 100%;
    }

    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 25px 25px;
    }

    footer header {
        padding-right: 0;
    }

    #message {
        width: 80vw;
    }
}
